
<br>
<div class="jumbotron">
  <h1 class="display-4">Bem Vindos!!</h1>
  <p class="lead">Este blog está sendo gerado em Node js</p>
  <hr class="my-4">
  <p>A ideia aqui é colocar meu passo-a-passo dos estudos e aprendizagem</p>
  <p>Todo estudo está sendo feito com pesquisa na net, e aqui junto o que achei de mais interessante, para consulta</p>
  
</div>