<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=<h1>, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">


  <title>Git, GitHub e GitLab</title>
  <!-- HEAD -->

 

</head>

<body>
  <!-- NAVBAR -->


  <!-- MAIN CONTENT -->

               <div class="row">


                  <div class="grupo">
                    <br><br>
                    <h4>Git, GitHub e GitLab</h4>
                    <br><br>
                    <h5>O que é</h5>
                    <br>
                    <b>O Git</b> - um Sistema de Controle de Versões. Tipo quando faço alteraçoes em um sistema,
                    etiquetamos aquela alteração, jogando a informação das alterações feitas, e
                    quando essas alterações nao ficaram corretas, podemos retornar a outra versão antes
                    da alteração sem problemas.
                    <br><br>
                    <b>O GitHub</b> - é uma plataforma totalmente online e hospedar neles seus projetos,
                    aqui onde o armazenamos as verões de colaborar com softwares open source,
                    seguir outros(as) programadores(as) e interagir com códigos de terceiros. de forma publica ou
                    de forma particular.
                    <br><br>
                    <b>O que os dois formam em comum</b>
                    <br><br>
                    Bem simples no Git versionamos no GitHub armazenamos, porém de grande utilizade - o GitHub
                    totalmente online - podemos compartilhar os sistemas
                    com diversos coloboradores e todos interagir no mesmo com alteraçoes sem perda de versões
                    Em diversas partes do sistemas por diversos programadores
                    que compartilham um projeto. E evita conflitos de versões tipo se alguem fez a mesma alteração no
                    mesmo lugar
                    existe um controle de alerta.
                    <br><br>
                    <b>O GitLab</b> - digamos que seja uma versao mais utilizada para determinados necessidades
                    de forma simples faz a mesma coisa que o GitHub porém para DevOps vai além disso.
                    Tipo, o versionamento criar ramificaçoes. um processo de teste de várias etapas.
                    <br><br>



                    <h5>Instalação</h5>
                    <br>
                    No site https://git-scm.com fiz o dewnloads da ultima verssão, no meu caso já identificou que estou
                    em ambiente windows 10 de 64x. Apenas cliquei em Next. A instalação é bem simples e facil.
                    <br><br>
                    No site https://github.com/ fiz o cadastro de um usuario
                    <br><br>
                    No site https://gitlab.com/ fiz o cadastro de um usuario
                    <br><br>



                    <br><br>
                    <br><br>




                    <div class="card text-white bg-primary mb-3">
                      <div class="card-header">
                        Possi­veis erros
                      </div>
                      <div class="card-body">

                        <p class="card-text">
                          Só uma coisa precisei iniciar o computador para conseguir fazer o teste
                          <br>

                        </p>

                      </div>
                    </div>

                  </div>


                </div>


              </div>










  <!-- FOOTER -->


  <script>
    // Tooltips Initialization
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()


    })
  </script>

  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</html>